body {
    /*font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;*/
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

header, footer, nav, section {
    display: block;
}

 h1, h2, h3, h4, h5, h6
{
  color: #0CA0C6;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    font-family: Etihad_Altis_Book;
    border: 2px solid #1A93C6;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    width: 30%;
    margin: auto;
}

    fieldset legend {
        /*background: #1F497D;*/
        color: #1F497D;
        padding: 5px 10px;
        font-size: 20px;
        /*border-radius: 5px;
        box-shadow: 0 0 0 3px #ddd;*/
        margin-left: 20px;
        text-align: center;
    }

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Styles for Login
-----------------------------------------------------------*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

