tr.line-through td {
    text-decoration: line-through #000;
    color: red;
}

tr.line-through td:first-child {
    text-decoration: none;
}

/*table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #f00;
    width: 100%;
}*/
