body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    font-family: Etihad_Altis_Book;
    border: 2px solid #1A93C6;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    width: 30%;
    margin: auto;
}

    fieldset legend {
        /*background: #1F497D;*/
        color: #1F497D;
        padding: 5px 10px;
        font-size: 20px;
        /*border-radius: 5px;
        box-shadow: 0 0 0 3px #ddd;*/
        margin-left: 20px;
        text-align: center;
    }

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
