@{
    ViewBag.Title = "Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listing</h2>
@*@Html.Partial("_AdminHome")*@
@Html.ActionLink("Add New Department", "Add", "Department")
@using (Html.BeginForm())
{

}