@if (Request.IsAuthenticated)
{
    <h3>Notifications</h3>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#" target="_blank">Exam Notification</a></li>
        <li><a href="#" target="_blank">Holiday Notification</a></li>
        <li><a href="#" target="_blank">Tech Fest</a></li>
    </ul>
    
}