 
@if (Request.IsAuthenticated)
    {
        <div>@Html.ActionLink("Personal Profile", "PersonalProfile", "StudentProfile")</div>
        <div>@Html.ActionLink("Academic Profile", "AcademicProfile", "StudentProfile")</div>
    }