@{
    ViewBag.Title = "ChangePhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePhoto</h2>
@using (@Html.BeginForm("ChangePhoto", "StudentProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label> 
    <input type="file" name="file" id="file" style="width: 100%;" /> 
    <input type="submit" value="Upload" /> 
}